* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: black;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

main {
  padding: 2rem;
  max-width: 600px;
  margin: auto;
}

main h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

#form-contacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background:white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#form-contacto label {
  font-weight: bold;
  color: gray;
}

#form-contacto input,
#form-contacto textarea {
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid white;
  font-size: 0.95rem;
}

#form-contacto textarea {
  resize: vertical;
  min-height: 100px;
}

#form-contacto button {
  background: green;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

#form-contacto button:hover {
  background: green;
}
