
body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: black;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}


main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

main h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

main p {
  margin-bottom: 1rem;
  font-size: 1.05rem;
  text-align: justify;
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}