.tabla-container {
    width: 100%;
    overflow-x: auto;          
    -webkit-overflow-scrolling: touch;
    margin-top: 20px;
}

.tabla-productos {
    width: 100%;
    border-collapse: collapse;
    min-width: 700px;          
    background: #fff;
}


.tabla-productos thead {
    background: #222;
    color: #fff;
}

.tabla-productos th,
.tabla-productos td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.tabla-productos tbody tr:nth-child(even) {
    background: #f5f5f5;
}

@media (max-width: 480px) {
    .tabla-productos th,
    .tabla-productos td {
        padding: 8px;
        font-size: 14px;
    }
}